:root{
    --primcolor: rgb(90, 90, 255);
}
.section-title{
    width: 100%;
    margin-top: 2rem;
    display: grid;
    place-content: center;
    text-align: center;
}

.hero{
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: url('../img/herobg.jpg') center/cover no-repeat;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
    background-attachment: fixed;
}
.hero-container{
    position: absolute;
    top: 0;
    padding-bottom: 4rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    clip-path: inherit;
}
.hero-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 0, 99, 0.6);
}
.hero-container h1{
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    color: #FFF;
    z-index: 50;
    
}
.hero-container--left p{
    margin-top: 2rem;
    font-size: 1.25rem;
    max-width: 70%;
    text-align: center;
}

.hero-form{
    position: relative;
    width: 350px;
    padding: 2rem 1.5rem;
    border-radius: 16px;
    background-color: rgb(110, 110, 253);
    z-index: 100;
}
.hero-form label{
    color: #FFF;
}
.hero-form input{
    border: none;
    outline: none;
}

#wave{
    position: absolute;
    bottom: 0;
    object-fit: cover;
    object-position: top;
    z-index: 10;
}


.container1{
    position: relative;
    top: -20vh;
    width: 100%;
    height: 110vh;
    padding: 1.5rem 1.5rem 1.5rem 0;
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23440B3E' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%233E4F55'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");    /* background-attachment: fixed; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    clip-path: polygon(0% 0%, 50% 16%, 100% 0%, 100% 100%, 0% 100%);
}
.container1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 0, 50, 0.6);
}
.wrapper{
    position: relative;
    top: 10%;
    width: 55%;
    padding: 2rem 1.5rem;
    background-color: #FFF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.wrapper-title{
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: var(--primcolor);
}
.points{
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: darkslategray;
}

.experience{
    position: relative;
    top: 10%;
    width: 35%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}
.experience-card{
    width: 175px;
    height: 150px;
    padding: 5px;
    background: #FFF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.experience-card img{
    width: 36px;
    height: auto;
}
.experience-card p{
    text-align: center;
    max-width: 90%;
}


.process-section{
    position: relative;
    padding: 2rem 1rem;
    width: 100%;
    height: auto;
    background: linear-gradient(120deg, rgb(0, 0, 170), rgb(0, 0, 115));
}
.white-title{
    position: relative;
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    display: grid;
    place-content: center;
    text-align: center;
    background: transparent !important;
    color: #FFF !important;
}
.process-container{
    position: relative;
    width: 100%;
    height: 50vh;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.process-card{
    position: relative;
    width: 420px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #FFF;
}
.process-count{
    position: relative;
    margin-bottom: 1rem;
    width: 56px;
    height: 56px;
    display: grid;
    place-content: center;
    border: 2px solid #FFF;
    border-radius: 50%;
}
.process-title{
    margin-bottom: .5rem;
    font-weight: 400;
    text-align: center;
}
.process-arrow{
    position: absolute;
    top: .5rem;
    left: 6rem;
    width: 280px;
    height: auto;
}
.process-content{
    max-width: 70%;
    text-align: center;
    align-self: center;
}
.process-content a{
    color: lime;
    font-weight: 600;
}




.container2{
    width: 100%;
    min-height: 100vh;
    background: url('../img/Colored\ Shapes.svg');
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.section-title h1{
    padding: 1rem;
    background: azure;
    font-size: 3rem;
    color: navy;
}

.services-card{
    position: relative;
    margin: 2rem;
    padding: 20px;
    width: 250px;
    height: 250px;
    background: navy;
    border: 2px solid navy;
    border-radius: 50%;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s ease;
}
.service-icon{
    width: 64px;
    height: auto;
    filter: invert(180);
    transition: all .5s ease;
}
.service-title{
    font-size: 1.25rem;
    text-align: center;
    transition: all .5s ease;
}
.service-desc{
    padding: 0 1rem;
    margin-top: .5rem;
    font-size: .9rem;
    text-align: center;
    transition: all .5s ease;
}
.services-card:hover{
    background: #FFF;
    border-color: #000;
}
.services-card:hover .service-icon{
    filter: unset;
}
.services-card:hover .service-title, .services-card:hover .service-desc{
    color: #000;
}


.clients{
    padding: 1rem;
    background: #FFF;
}
.clients-wrapper{
    position: relative;
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.clients-img{
    position: relative;
    width: 150px;
    height: auto;
    margin: 2rem;
}


.testimonials{
    padding: 1rem 0 0;
    background: url('../img/Moon.svg') right/cover no-repeat;
    box-shadow: 0px -5px 10px rgb(190, 190, 190);
}
.testimonial{
    position: relative;
    margin: 2rem;
    padding: 1rem;
    width: 400px;
    height: auto;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 2px 2px 6px rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.client-name, .company{
    width: 100%;
    text-align: center;
}
.testimonial-client-img{
    position: relative;
    margin-top: 1rem;
    width: 150px;
    height: auto;
    object-fit: contain;
}
.darby{
    background: url('../img/darby.svg') center / contain no-repeat;
    height: 40px;
}



@media (max-width: 768px) {
    .hero{
        position: relative;
        width: 100%;
        height: 120vh;
    }
    .hero-container{
        position: absolute;
        top: 0;
        flex-direction: column;
    }
    .hero-container--left, .hero-container--right{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero-container--left{
        height: 60vh;
    }
    .hero-container--left h1{
        font-size: 2.25rem;
    }
    .hero-container--left p{
        max-width: 90%;
    }
    #wave{
        bottom: -5px;
        width: 100%;
    }

    .container1{
        padding: 1.5rem .6rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .wrapper{
        width: 100%;
        border-radius: 15px;
    }
    .wrapper-title{
        text-align: center;
        font-size: 2.25rem;
    }
    .experience{
        width: 100%;
        height: auto;
        margin-top: 1rem;
        flex-direction: row;
        align-items: center;
    }
    .experience-card, .experience-card>*{
        transform: scale(.9);
    }

    .services-card, .services-card>*{
        transform: scale(0.9);
    }

    .process-section{
        padding: 2rem .5rem;
        padding-bottom: 3rem;
    }
    .white-title{
        font-size: 1.25rem;
    }
    .process-container{
        padding: 1rem;
        padding-bottom: 0;
        flex-direction: column;
        height: auto;
    }
    .process-card{
        width: 100%;
        margin: 5rem 0 0 0;
    }
    .process-arrow{
        display: none;
    }
    .process-content{
        max-width: 100%;
        text-align: center;
    }

    .clients-img{
        width: 100px;
        margin: 1rem;
    }

    .testimonial{
        margin: 1rem;
    }
}
