.hero{
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("https://image.freepik.com/free-vector/dreamy-soft-clouds-background-with-glowing-sun_1017-23281.jpg") center / cover no-repeat;
}
.section-heading{
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    color: navy;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-wrapper{
    position: relative;
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.services-card{
    position: relative;
    width: 280px;
    height: 175px;
    margin: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    transition: all .5s ease;
}
.service1{
    background: url('../img/service1.png') center / cover no-repeat;
}
.service2{
    background: url('../img/service2.png') center / cover no-repeat;
}
.service3{
    background: url('../img/service3.png') center / cover no-repeat;
}
.service4{
    background: url('../img/service4.png') center / cover no-repeat;
}
.service5{
    background: url('../img/service5.png') center / cover no-repeat;
}
.service6{
    background: url('../img/service6.png') center / cover no-repeat;
}

.services-card--content{
    position: relative;
    width: inherit;
    height: 150px;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease;
}
.services-card--title{
    position: relative;
    max-width: 200px;
    color: #6464FF;
    text-align: center;
    transition: all .5s ease;
    z-index: 1;
}
.services-card--desc{
    position: absolute;
    bottom: -3rem;
    width: inherit;
    height: auto;
    padding: 0.5rem;
    border-radius: 12px;
    opacity: 0;
    background: #FFF;
    color: darkslategray;
    box-shadow: 1px 1px 4px rgb(200, 200, 200), -1px -1px 4px rgb(200, 200, 200);
    transition: all .5s ease;
    z-index: 2;
}
.services-card:hover .services-card--desc{
    opacity: 100%;
    transform: translateY(1rem);
}

.other-services{
    padding: 1rem 2rem;
}
.other-services-card{
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    box-shadow: 1px 1px 4px rgb(200, 200, 200), -1px -1px 4px rgb(200, 200, 200);
    transition: all .5s ease;
}
.other-services-card:hover{
    background: #6464FF;
    color: #FFF;
    cursor: pointer;
}


@media (max-width: 768px) {
    
    .section-heading{
        text-align: center;
    }
    .section-heading h1{
        padding: 0;
    }

    .hero-wrapper{
        display: none;
    }

    .mobile-hero-wrapper{
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mobile-service-card-container{
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        padding: 0 .5rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .mobile-service-card{
        position: relative;
        width: 160px;
        height: auto;
        padding-bottom: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: #FFF;
    }
    .mobile-service-card--img{
        width: 100%;
        max-height: 90px;
        object-fit: cover;
    }
    .mobile-service-card--title, .mobile-service-card--desc{
        width: 100%;
        padding: 0 .25rem;
        text-align: left;
    }
    .mobile-service-card--title{
        margin-bottom: .5rem;
        font-size: 1.2rem;
    }
    .mobile-service-card--desc{
        font-size: .8rem;
    }
    
    .other-services{
        padding: 1rem;
    }
}

@media (min-width: 768px) {
    .mobile-hero-wrapper{
        display: none;
    }

    .services-card--title{
        color: #FFF;
    }
    .service2 .services-card--content h3{
        display: none;
    }
}